<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>layout 3</title>
    <style media="screen">

    .margin {
      margin-left:200px;
      border-left: 2px solid;
      padding-left: 100px;
      width: 400px;
    }
    .two {
      margin-left: 400px;
    }

    .three {
      margin-left: 600px;
    }

    </style>
  </head>
  <body>

  <div class="margin one">
    <h1>header</h1>
    <h2>header 2</h2>
  </div>
<div class="margin two">One of the 18 million possible manifestos.</div>
<div class="margin three">One of the 18 million possible manifestos.</div>



  </body>
</html>
