<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Layout 2</title>

    <style media="screen">
    .inlineblock{
      display: inline-block;
      vertical-align: bottom;
      width: 200px;
      border: 10px solid;
      padding: 5px;
      margin: 5px;
    }


    </style>
  </head>
  <body>

    <div class="inlineblock">
      One of the 18 million possible manifestos.
      </div>


    <div class="inlineblock">
      One of the 18 million possible manifestos.
      </div>


    <div class="inlineblock">
      One of the 18 million possible manifestos.
      </div>

      <div class="inlineblock">
        One of the 18 million possible manifestos.
        </div>


      <div class="inlineblock">
        One of the 18 million possible manifestos.
        </div>


      <div class="inlineblock">
        One of the 18 million possible manifestos.
        </div>

        <div class="inlineblock">
          One of the 18 million possible manifestos.
          </div>


        <div class="inlineblock">
          One of the 18 million possible manifestos.
          </div>


        <div class="inlineblock">
          One of the 18 million possible manifestos.
          </div>
  </body>
</html>
